@import 'variables';

//Text
$font-family-main-header: 'Playful Display';
$body-letter-spacing: 2px;
$hover-font-weight: 600;

.main-header {
  font-family: $font-family-main-header;
  text-transform: uppercase;
  letter-spacing: $body-letter-spacing;
}

.body-text {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  color: $dark-brown;
}

h3 {
  font-weight: 300;
}
